.mini-program {
  display: flex;
  justify-content: center;

  .mini-qrcode {
    flex-direction: column;
    display: flex;
    align-items: center;

    img {
      width: 300px;
      height: 300px;
    }
  }
}
