.table-drag-select {
  border-collapse: separate;
  border-spacing: 15px;

  td {
    border: 1px solid rgba(205, 213, 223, 1);
    min-width: 110px;
    width: 10%;
    height: 150px;
    cursor: cell;
    padding: 10px;

    .round-content {
      height: 100%;

      .ant-tag {
        line-height: 16px;
      }
    }
  }

  td.cell-enabled {
    background-color: #ddd;
  }

  td.cell-selected {
    background-color: #e4f2fd;
  }

  td.cell-being-selected {
    background-color: #e4f2fd;
  }
}
