.table-drag-select {
  border-collapse: separate;
  border-spacing: 10px;
  width: 100%;

  td {
    border: 1px solid rgba(205, 213, 223, 1);
    height: 20px;
    cursor: cell;
    padding: 5px;
    box-shadow: 0px 0px 6px 3px rgba(28, 27, 28, 0.06);
    border-radius: 3px;
    width: 80px;

    .round-content {
      text-align: center;
    }
  }

  td.cell-selected {
    background-color: #e4f2fd !important;
  }

  td.cell-being-selected {
    background-color: #e4f2fd !important;
  }

  td.cell-disabled {
    background-color: #ddd !important;
    cursor: not-allowed;
  }
}

.ant-dropdown-link {
  color: unset;

  &:hover {
    color: unset;
  }
}

.multi-select-container {
  .page-list-title {
    margin-top: 60px;
  }

  .round-room-actions {
    margin-bottom: 10px;

    &.multi-select {
      top: 90px;
      margin-left: 10px;
      position: fixed;
      right: 20px;
      left: 197px;
      box-shadow: 0px 0px 6px 3px rgba(28, 27, 28, 0.06);
      border-radius: 3px;
      background: #fff;
      padding: 10px;

      .clear-select {
        margin-right: 40px;
      }

      .room-item {
        display: inline-block;
        height: 30px;
        padding: 5px 10px;
        margin-right: 20px;
        border-radius: 2px;
      }
    }

    button {
      margin-right: 10px;
    }
  }
}

.multi-select-btn {
  margin-bottom: 10px;
  width: 100px;
}
